<h2>Movie WatchList</h2>

<div class="filters">
    <input type="text" placeholder="Search movies..." (input)="search = $event.target.value; filterMovies()"/>


    <button (click)="setFilter('all')">All</button>
    <button (click)="setFilter('watched')">Watched</button>
    <button (click)="setFilter('to-watch')">To-Watch</button>

    <label for="sort">Sort by:</label>
    <select id="sort" #sortSelect (change)="onSortChange(sortSelect.value)">
        <option value="dateAddedDesc">Newest</option>
        <option value="dateAddedAsc">Oldest</option>
    </select>
  
    
</div>

<div class="movieListContainer">

   

    <div class="movieList">
        @for (movie of filteredMovies; track movie.id) {
            <app-movie-card
              [movie]="movie"
              (delete)="deleteMovie($event)">
            </app-movie-card>
        }
    </div>

</div>
            